In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [14]:
df = pd.read_csv('Shopping_AZ.csv') 
df['positive'] = df['stars_y'] >=3
df = df 
df.head()

              business_id categories  ... useful  positive
0  HYunM2pknhIh8lbiMa7THw   Shopping  ...      1     False
1  KjicU7uxRt2KDEnO5cgxDQ   Shopping  ...      0     False
2  KjicU7uxRt2KDEnO5cgxDQ   Shopping  ...      1     False
3  7CVoVNkEAremQ7JTjx_02A   Shopping  ...      0      True
4  HxUD_4GpOInD-mXIppZiZA   Shopping  ...      0      True

[5 rows x 12 columns]

In [0]:
## Convert to vectorizer.
vectorizer = TfidfVectorizer(
    min_df = 0.05,
    max_df = 0.95,
    analyzer = 'word',
    lowercase = False,
)
features = vectorizer.fit_transform(
    df['text']
)
features_nd = features.toarray() # for easy usage

In [0]:
## Target.
data_labels = df['positive']

In [0]:
## Divide train and test.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test  = train_test_split(
        features_nd, 
        data_labels,
        train_size=0.80, 
        random_state=1234)

In [30]:
clf = RandomForestClassifier(n_estimators=100, max_depth=25,
                             random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=25, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [31]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.8559515238780897

In [0]:
pd.to_pickle(clf, 'random_forest_model.pkl')
pd.to_pickle(vectorizer, 'vectorizer.pkl')